
      

      <div  *ngIf="products">


      <div class="col-lg-3  d-inline-block my-2 "  *ngFor="let p of products._embedded.products"> 
      
    <div class="card my-auto mx-auto "  style="width: 200px;">
     
        <img class="card-img-top" src="{{this.catalogService.host +'/photoProduct/'+ p.id}}" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title" >{{p.name}}</h5>
          <p class="card-text">{{p.description}}</p>
          <a href="#" class="btn btn-primary">{{p.currentPrice | number : '0.2' }}</a>
          <div>
          <p class="mt-2">
            <button (onclick)="onEditPhoto(p)">
           
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-edit fa-stack-1x fa-inverse"></i>
              </span>
          </button>
        </p>
         <p *ngIf="editPhoto==true && currentProduct==p">
           <input type="file" (change)="onSelectedFile($event)">
        </p></div>
        </div>
      </div>
    </div>
    </div>

